@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.prose .anchor {
  @apply invisible absolute no-underline ml-1.5 cursor-pointer text-lg;
}

.prose .anchor:after {
  @apply text-green-400;
  content: 'âŽ';
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
}
